.card_detailMain {
    background-color: #f4f4f4;
    border-color: #000000;
    border-style: groove;
    width: 75%;
}

.card_detailMain img {
    width: 225px;
    height: 300px;
}

.card_detailContent {
    display: flex;
    font-family: 'Poppins';
    font-weight: bolder;
}

.card_detailSubcontent {
    padding-bottom: 1em;
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.card_buttonBuy button {
    background-color: #0fb100;
    color: #f4f4f4;
    font-weight: bolder;
    width: 100%;
}

.card_buttonBuyMore button {
    background-color: #3400ad;
    color: #f4f4f4;
    font-weight: bolder;
    width: 100%;
}

.addToCard_success {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    font-weight: bolder;
}

@media only screen and (min-width:745px) and (max-width:875px){
    .card_detailSubcontent {
        line-height: 1.2em;
    }
}

@media only screen and (min-width:645px) and (max-width:744px){
    .card_detailMain {
        width: 80%;
    }

    .card_detailSubcontent p{
        line-height: 1.2em;
        font-size: 0.9em;
    }
}

@media only screen and (min-width:575px) and (max-width:644px){
    .card_detailMain {
        width: 90%;
    }

    .card_detailSubcontent p{
        line-height: 1.2em;
        font-size: 0.9em;
    }
}

@media only screen and (min-width:500px) and (max-width:574px){
    .card_detailMain {
        width: 95%;
    }

    .card_detailMain img {
        width: 190px;
        height: 300px;
    }
    
    .card_detailSubcontent {
        padding-left: 1.2em;
        padding-right: 1em;
    }

    .card_detailSubcontent p{
        line-height: 1.2em;
        font-size: 0.9em;
    }
}

@media only screen and (min-width:408px) and (max-width:499px){
    .card_detailMain {
        width: 100%;
    }

    .card_detailMain img {
        width: 190px;
        height: 300px;
    }
    
    .card_detailSubcontent {
        padding-left: 1.2em;
        padding-right: 1em;
        padding-bottom: 0.3em;
    }

    .card_detailSubcontent p{
        line-height: 1.2em;
        font-size: 0.8em;
    }
}

@media only screen and (min-width:350px) and (max-width:407px){
    .card_detailMain {
        width: 100%;
    }

    .card_detailMain img {
        width: 170px;
        height: 300px;
    }
    
    .card_detailSubcontent {
        padding-left: 1.2em;
        padding-right: 1em;
        padding-bottom: 0.2em;
    }

    .card_detailSubcontent p{
        line-height: 1.2em;
        font-size: 0.8em;
    }
}