.card_detailContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.loading {
    font-size: 3em;
    font-family: 'Poppins';
    font-weight: bolder;
}