.card_detailMain {
    background-color: #f4f4f4;
    border-color: #000000;
    border-style: groove;
    width: 75%;
}

.card_detailMain img {
    width: 225px;
    height: 300px;
}

.card_detailContent {
    display: flex;
}

.card_detailSubcontent {
    padding-left: 1em;
}

.card_detailSubcontent {
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.card_buttonBuy button {
    background-color: #0fb100;
    color: #f4f4f4;
    font-weight: bolder;
    width: 100%;
}

.card_buttonBuyMore button {
    background-color: #3400ad;
    color: #f4f4f4;
    font-weight: bolder;
    width: 100%;
}

.addToCard_success {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    font-weight: bolder;
}