h2 {
    color: aliceblue;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}

.container_item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15em;
    padding-right: 15em;
}

.loading_items p {
    font-family: 'Poppins';
}

