.navbar-brand img {
    width: 95px;
    height: 95px;
}

.navbar_subContent {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 1.1em;
}

#navbarNav {
    justify-content: flex-end;
}