.footer_content {
    background-color: #000000;
    text-align: center;
    color:#faebd7;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.footer_content p {
    font-family: 'Poppins';
}

@media only screen and (min-width:420px) and (max-width:560px){
    .footer_content p {
        font-size: 0.8em;
    }
}

@media only screen and (min-width:350px) and (max-width:419px){
    .footer_content p {
        font-size: 0.6em;
    }
}